# Database connection
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=nextunnel
DB_DATABASE=nextunnel

# PostgreSQL tuning
PG_MAX_CONNECTIONS=100
PG_SHARED_BUFFERS=128MB
PG_WORK_MEM=4MB
PG_MAINTENANCE_WORK_MEM=64MB
PG_EFFECTIVE_CACHE_SIZE=4096MB
